* {
  margin: 0;
  padding: 0;
}

.section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
  position: relative;
}

.intro {
  margin-bottom: 40px;
  text-align: center;
  max-width: 100%;
}

.title {
  color: #7b87f6;
  font-family: "Montserrat-ExtraBold", Helvetica, sans-serif;
  font-size: clamp(2rem, 10vw, 3.25rem);
  font-weight: 800;
  margin-bottom: 10px;
}

.subtitle {
  color: #4f4b4d;
  font-family: "Montserrat-Medium", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.image-wrapper {
  position: relative;
  margin-bottom: 60px;
  width: 458px;
  height: 449px;
}

.ellipse {
  background: linear-gradient(
    360deg, 
    rgba(251, 209, 255, 1) 0%, 
    rgba(198, 202, 253, 1) 100%);
  border-radius: 50%;
  box-shadow: 0px 4px 33px #ffcdf4;
  width: 100%;
  height: 100%;
  position: absolute;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 0;
  overflow: visible;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
  padding: 40px 7vw;
  width: auto;
}

.heading {
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #4f4b4d;
}

.paragraph {
  color: #4f4b4d;
  font-family: "Montserrat-Medium", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  max-width: 1500px;
  margin-bottom: 60px;
}

.list {
  text-align: left;
  max-width: 1104px;
  padding-left: 20px;
  line-height: 36px;
  color: #4f4b4d;
  font-family: "Montserrat-Medium", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
}

.list li {
  margin-bottom: 10px;
}

@media(max-width: 1100px) {
    .image-wrapper {
        width: 70vw;
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
}