/*REMOVE SPACE FROM PAGE*/
*{
    margin: 0;
    padding: 0;
}

/*OUTER DIV FOR THE WHOLE PAGE*/
.outer {
    position: fixed;
    inset: 0;
    z-index: -1;
    filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*INNER DIV FOR THE BLOB*/
.inner {
    position: relative;
    width: 95vw;
    height: 95vh;
    border-radius: 99999px;
    overflow: hidden;
    transform: scale(0.8);
}

/*BLOB DIV*/
.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(
        from 0deg,
        #c8eefb,
        #bdb3fc,
        #ecbcfc,
        #dfc2fb,
        #a3b0fc,
        #c8eefb
    );
    animation: spin 5s linear infinite;
}

/*SPIN ANIMATION*/
@keyframes spin {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
    
}