/*
*{
    margin: 0;
    padding: 0;
}

.outer {
    position: fixed;
    inset: 0;
    z-index: -1;
    filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    border-radius: 99999px;
    overflow: hidden;
    transform: scale(0.8);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(
        from 0deg,
        rgb(255, 72, 173),
        rgb(140, 0, 215),
        rgb(255, 72, 173),
        rgb(140, 0, 215),
        rgb(255, 72, 173),
        rgb(140, 0, 215),
        rgb(255, 72, 173) 
    );
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
    
}

/*body {
    background-color: #FFFAFE;
    justify-content: center;
    box-sizing: border-box;
}

.absolute {
    position: absolute;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;

    max-width: 100%;
    height: auto;
    padding-top: 15vh;
}

.justify-center {
    justify-content: center;
}

.bg-shape1 {
    width: 500px;
    height: 500px;
    border-radius: 9999px;
    position: relative;
    animation: one 5s infinite ease-in;
    z-index: -1;
}

.bg-shape2 {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: two 5s infinite ease-in;
    z-index: -1;
}

/*
@keyframes one {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-10vw, 9vh); }
    50% { transform: translate(2vw, 18vh); }
    75% { transform: translate(5vw, 14vh); }
    100% { transform: translate(0, 0); }
}

@keyframes two {
    0% { transform: translate(0, 0); }
    25% { transform: translate(5vw, 2vh); }
    50% { transform: translate(10vw, 9vh); }
    75% { transform: translate(5vw, 13vh); }
    100% { transform: translate(0, 0); }
}


.opacity-50 {
    opacity: .5;
}

.bg-blur {
    filter: blur(90px);
}

.bg-primary {
    background-color: rgb(30, 0, 255);
}

.bg-teal {
    background-color: rgb(255, 72, 173);
}

.bg-purple {
    background-color: rgb(140, 0, 215);
}
*/