/*HEADER DIV*/
* {
margin: 0;
padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    padding: 10px 0 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    backdrop-filter: blur(30px);
}

/*LOGO*/
.logo {
    margin-left: 4vw;
    width: 51px;
    height: 51px;
}

/*WIKAPEDIA TEXT*/
.wikapedia {
    margin-right: auto;
    height: 100%;
    padding: 0 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #504B4E;
}

/*HEADER BUTTONS ALIGNMENT*/
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*HEIGHT OF EACH BUTTON IN HEADER AND SIDEBAR*/
nav li {
    height: 50px;
}

/*TEXT OF THE BUTTONS IN HEADER AND SIDEBAR*/
nav a {
    height: 100%;
    padding: 1px 1.5vw;
    margin-right: 75px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #504B4E;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

/*COLOR WHEN HOVER*/
nav a:hover {
    color: #FFFFFF;
}

/*HIDE MENU BUTTON WHEN PAGE IS LARGE*/
.menu-button{
    display: none;
}

/*SIDEBAR*/
.sidebar{
    position: fixed;
    top: 75px;
    right: 10px; 
    width: 250px;
    padding: 20px;
    z-index: 999;
    background-color: #FFFBFB;
    opacity: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.75s ease, opacity 0.5s ease;
}

/*WIDTH OF THE BUTTON IN SIDE BAR*/
.sidebar li {
    width: 100%;
}

/*SHOW SIDEBAR*/
.sidebar.show {
  transform: translateX(0);
  opacity: 0.85;
}

/*EXIT BUTTON DIV*/
.exitsb {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 10px 10px 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none; /* Prevent interaction when hidden */
}

/*EXIT BUTTON*/
.exitsb button {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.25);
    background-color: #FCF2FC;
    cursor: pointer;
}

/*SHOW EXIT BUTTON*/
.exitsb.show {
    z-index: 999;
    opacity: 1;
    pointer-events: auto; /* Enable interaction when shown */
}

/*BLUR BACKGROUND*/
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;
  opacity: 0;
  animation: fadeInBlur 0.3s forwards ease-in-out;
}

/*ANIMATE BLUR*/
@keyframes fadeInBlur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*WHEN PAGE IS SMALL*/
@media(max-width: 820px) {
    .hide {
        display: none;
    }

    .menu-button{
        display: block;
    }

    .logo {
        margin-left: 25px;
    }

    nav a {
        margin-right: 0px;
    }

    .sidebar a:hover {
        background-color: #98A2FF;
        border-radius: 10px;
    }

}

/*RESIZE SIDEBAR WHEN MOBILE VIEW*/
@media(max-width: 400px) {
    .sidebar {
        width: 50vw;
    }
}