* {
margin: 0;
padding:0;
}


/*FONTS*/
@font-face {
  font-family: 'montserratExtraBold';
  src: url('../montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratMedium';
  src: url('../montserrat/static/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratSemiBold';
  src: url('../montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratBlack';
  src: url('../montserrat/static/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratBold';
  src: url('../montserrat/static/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratBoldItalic';
  src: url('../montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratMediumItalic';
  src: url('../montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratRegular';
  src: url('../montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

/*BODY*/

/*for first div*/
.FirstDiv {
  display: flex;
  align-items: top; /* vertical alignment */
  justify-content:start; /* or use center, start, etc. */
  gap: 10vw; /* spacing between items */
  width: 100%;
  height: auto;
}
.FirstdivTextdiv {
  width: 44%;
  margin-left: 5vw;
  padding-top: 28vh;
}

.FirstdivHeader {
  font-family: 'montserratExtraBold', sans-serif;
  color: #504B4E;
  margin-bottom: 2rem;
  font-size: clamp(1rem, 5vw, 5rem);
}
.FirstdivParagraph{
  font-family: 'montserratMedium';
  color: #504B4E;
  font-size: clamp(.5rem, 2vw, 1.7rem);
}
.FirstdivImagediv {
  position: relative; 
  display: flex;
  width: 1099px;
  height: 1099px;
  align-items: top;
  justify-content: right;
}

.FirstdivImage2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.FirstdivImage {
  position: relative;
  width: 70%;
  height: 70%;
  z-index: 2;
  padding-top: 7vh;  
}

/*for second div*/
.SecondDiv {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content:start; /* or use center, start, etc. */
  gap: 15vw; /* spacing between items */
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  margin-top: -150px;
}

.SeconddivImage{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(22%); /* fine-tune right shift */
}
.SecondDiv > div:first-child {
  transform: translateX(-17%);
}
.SeconddivTextdiv {
  max-width: 41%;
}
.SeconddivdivParagraph{
  font-family: 'montserratSemiBold';
  color: #504B4E;
  text-align: center;
  font-size: clamp(.5rem, 2vw, 1.7rem);
}

/*for third div*/
.ThirdDiv {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content:center; /* or use center, start, etc. */
  flex-direction: column;
  gap: 1rem;     
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.NumberInsideCircle {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NumberInsideCircle h1 {
  margin: 0;
  color: #fff;
  font-family: 'montserratBlack';
  font-weight: 900;
  font-size: clamp(4rem, 7vw, 6rem);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ThirddivTextdiv {
  max-width: 50%;
}

.ThirddivParagraph1{
  font-family: 'montserratBold';
  color: #707CF3;
  text-align: center;
  font-size: clamp(1rem, 2vw, 3.5rem);
  padding-bottom: 30px;
}

.ThirddivParagraph2{
   font-family: 'montserratMedium';
  color: #504B4E;
  text-align: center;
  font-size: clamp(.5rem, 2vw, 1.7rem);
}

/*for fourth div*/
.FourthdDivWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.FourthdDiv {
  display: flex;
  align-items: center;
  justify-content:end; 
  gap: 5vw; 
  width: 100%;
  height: auto;
  margin-bottom: 80px; 
}
.FourthdivTextdiv {
  max-width: 55%;
  margin-left: 3vw;
}

.FourthdivdivParagraph{
  font-family: 'montserratMedium';
  color: #504B4E;
  text-align: center;
  font-size: clamp(.5rem, 2vw, 1.7rem);
  line-height: 124.9%;
}

.FourthdivImage{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-65%, -50%);
}
.FourthdDiv > div:last-child {
  transform: translateX(10%);
}

/*for fifth div*/
.FifthDiv {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FifthdivHeader{
  font-family: 'montserratBold';
  color: #707CF3;
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding-bottom: 50px;
}

.FifthDivContainersDiv {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 15vw;
  width: 100%;
  height: auto;
}

.FifthDivContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  gap: 3vw;
}

.FifthdivImage {
  width: 100%;
  height: 100%;
  position: absolute;
}

.FifthdivdivParagraph1 {
  font-family: 'montserratBold';
  color: #707CF3;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.5rem); 
  width: 100%; 
  max-width: clamp(150px, 20vw, 200px); 
  word-wrap: break-word; 
}

.FifthdivdivParagraph2 {
  font-family: 'montserratMediumItalic';
  color: #504B4E;
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 1rem); 
  width: 100%; 
  max-width: clamp(150px, 20vw, 200px); 
  word-wrap: break-word; 
  line-height: 124.9%;
}


/*for Sixth div*/
.Sixthdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  position: relative;
  gap: 1vw;
  background: 
  linear-gradient(to top, rgba(230, 224, 255, 0.4) 0%, rgba(255, 250, 254, 0.1) 50%), /* Lighter violet overlay */
    linear-gradient(to top, #D6CCFE 0%, #FFCEF4 60%, transparent 100%);
}
.SixthdivP1 {
  font-family: 'montserratBoldItalic';
  font-size: clamp(0.8rem, 2vw, 2rem);
  color: #504B4E;
  text-align: center;
  line-height: 124.9%;
}
.SixthdivP2 {
  font-family: 'montserratRegular';
  font-size: clamp(0.5rem, 2vw, 1.3rem);   
  color: #504B4E;
  text-align: center;
  line-height: 124.9%;
}


/*for Footer*/
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: #98A2FF;
}

.FooterText {
  font-family: 'montserratMedium';
  font-size: clamp(0.5rem, 2vw, 1.3rem);   
  color: #000000;
  opacity: 24%;
  text-align: center;
  line-height: 124.9%;
}

/*for media query*/
@media (max-width: 400px) {
  .FirstdivImagediv {
  width: 400px !important;
  height: 400px !important;
  }
}
@media (max-width: 600px) {
  .FirstdivTextdiv {
    padding-top: 10vh;
  }
  .FirstdivImagediv {
  width: 400px ;
  height: 400px ;
  }
}
@media (max-width: 1100px) {
  .SecondDiv {
  margin-top: -50px;
  }
  .FirstdivTextdiv {
    padding-top: 13vh;
  }
  .FirstdivImagediv{
    padding-top: 0vh;
    margin-top: 0vh;
  }
  .FirstDiv{
    margin-top: .5vh;
  }
  .FifthDivContainersDiv {
    flex-direction: column; 
    align-items: center;
    
    gap: 8vw; 
  }
  .FirstdivImagediv {
  width: 700px;
  height: 700px;
  }
}

