*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #FFFAFE;
}

.container {
    display: block;
    width: 100%;
    margin-top: 70px;
    padding: 0 18.75vw 0 18.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filipino {
    margin: 10vh 0 20px 0;
    color: #504B4E;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: clamp(1rem, 10vw, 1.75rem);
}

.dropdown {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 30px auto;
    width: 100%;
}

.dropdown > :nth-child(1) {
    justify-self: left;
}
.dropdown > :nth-child(2) {
    justify-self: center;
}
.dropdown > :nth-child(3) {
    justify-self: right;
}

.translate {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 10vh;
    width: 100%;
    position: relative; /* add this */
}

.translate > :nth-child(1) {
    justify-self: left;
}
.translate > :nth-child(2) {
    justify-self: right;
}

.translate-button {
    padding-left: 9.5vw;
    width: 100%;
}


/*MOBILE VIEW*/
@media(max-width: 600px) {
    .container {
        padding: 0 3vw 0 3vw;
    }

    .filipino {
        margin-top: 25px;
    }

    .translate {
        padding-bottom: 2vh;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .area {
        min-width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    }

    .translate-button {
        padding-left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    select {
        width: 8rem !important;
    }

    option,
    selectedcontent {
        font-size: 13px !important;
    }

    selectedcontent {
        padding: 0 !important;
        grid-template-columns: 40px 30px !important;
    }
}

/*TABLET VIEW*/
@media (min-width: 600px) and (max-width: 1100px) and (min-height: 1000px) {
    .filipino {
        margin-top: 40px;
    }
    .area {
        min-width: 100%;
        height: 20vh !important;
    }

    .translate {
        padding-bottom: 7vh;
        grid-template-columns: 1fr;
        grid-gap: 70px;
    }

    .translate > :nth-child(1) {
        justify-self: center;
    }
    .translate > :nth-child(2) {
        justify-self: center;
    }

    .translate-button {
        padding-left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
}




/*DROPDOWN*/
select,
::picker(select) {
    appearance: base-select;
    font: -webkit-small-control;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

option::checkmark,
select::picker-icon {
  display: none;
}


/* Styling the options list */
::picker(select) {
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ececec;
}

option {
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  margin: 10px;
  /*  remove when patch is in  */
  place-items: start;
  
  &:hover {
    background-color: rgba(139, 112, 243, .30);
  }
}

/* Styles for both the options and selectedcontent */
option,
selectedcontent {
    font-size: 1rem;
    align-items: center;
    display: grid;
    gap: 1rem;
}

/* Style what you see before you open the select dropdown */
selectedcontent {
    padding: 0.5rem;
    grid-template-columns: 50px 30px;
}

select {
    border: none;
    border-radius: 10px;
    padding: 0 1rem 0 0.5rem;
    width: 10rem;
    cursor: pointer;
}

.arrow {
    align-self: center;
    transition: rotate 1s;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.49 42.37'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23221f20; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M3.96,0h58.57c3.37,0,5.2,3.95,3.01,6.52l-29.28,34.46c-1.58,1.86-4.45,1.86-6.03,0L.95,6.52C-1.23,3.95.59,0,3.96,0Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(3);
    width: 0.5rem;
    height: 0.5rem;

    .currency-select:open & {
        rotate: x 180deg;
    }
}



/*SWITCH BUTTON*/
.switch {
    padding: 7.5px;
    border: none;
    border-radius: 50px;
    background: #98A2FF;
    cursor: pointer;
}


/*TEXT AREA*/
.area {
    background-color: #FDB3FF;
    border-radius: 20px;
    width: 30vw;
    height: 35dvh;
    box-shadow: 0px 60px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    margin-top: 30px;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
    resize: none;
    border: 0;
    outline: none;
    border-radius: 0 0 20px 20px;
    padding: 6%;
    color: rgba(0, 0, 0, 0.5);
}

h3 {
    position: relative;
    top: 5%;
    left: 6%;
    color: #504B4E;
}

/*TRANSLATE BUTTON*/
.translatebtn {
    padding: 13px 40px;
    font-weight: bold;
    background: linear-gradient(to right, #5c8df6, #9ba9ff);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}